{% extends "zoo/spec.html" %}

{% block scripting %}
  <script type="text/javascript">
   $(function() {
       var e = editable({ csrf_token: '{{csrf_token}}', editurl: '/{{snippet.id}}/edit/' });
       e.installEditButtons();
   });
  </script>

{% include "select_on_click.html" %} 

  <script type="text/javascript">
    $(function() {
        select_on_click($('#code'));
    });
  </script>
{% endblock %}

{% block impls %}
<h2>Impl. Notes</h2>
<span id="description" name="description" class="editable editarea">{{snippet.description}}</span>
<textarea id="code" name="code" cols="72" rows="15" class="editable editarea">{{snippet.code}}</textarea>
{% endblock %}
