{% extends "zoo/spec.html" %}

{% block scripting %}
  <script type="text/javascript">
   $(function() {
       var e = editable({ csrf_token: '{{csrf_token}}', editurl: '/{{snippet.id}}/edit/' });
       e.installEditButtons();
   });
  </script>
  
  <script type="text/javascript">
    $(function() {
        $('#code').focus(function() {
            $('#code').select();
        });
        // keep chrome from deselecting right after
        $('#code').mouseup(function() { return false });
    });
  </script>
{% endblock %}

{% block content %}
{{ block.super }}
<p id="description" name="description" class="editable editarea">{{snippet.description}}</p>
<textarea id="code" name="code" cols="72" rows="30" class="editable editarea">
{{snippet.code}}
</textarea>
{% endblock %}
