<html>
 <head>
  {% include "jquery.html" %}
  {% include "editable.html" %}

  <style>
   h1#name { font-family: monospace }
  </style>

{% block scripting %}
  <script type="text/javascript">
   $(function() {
       var e = editable({ csrf_token: '{{csrf_token}}', editurl: '/spec/{{spec.id}}/edit/' });
       e.installEditButtons();
   });
  </script>
{% endblock %}
 </head>
<body>

{% block content %}
<h1 id="name" name="name" class="editable">{{spec.name}}</h1>
<h2>Summary</h2>
<span id="summary" name="summary" class="editable">{{spec.summary}}</span>
<h2>Spec</h2>
<span id="spec" name="spec" class="editable editarea">{{spec.spec}}</span>
{% endblock %}

</body>
</html>
