{% extends "zoo/search.html" %}

{% block header %}
{{ block.super }}

<style>
 .searchresults table {
    width: 100%;
    border: 1px solid black;
 }
 .searchresults thead {
    font-weight: bold;
 }
</style>

{% endblock %}

{% block content %}
{{ block.super }}
{% if query %}
    <div class="searchresults">
     <table>
      <tbody>
     {% for result in page.object_list %}
       <tr>
        <td><tt><a href="/spec/{{ result.object.version.versionptr.id }}/">{{ result.object.name }}</a></tt></td>
        <td>{{ result.object.summary }}</td>
       </tr>
     {% empty %}
     {% endfor %}
      </tbody>
     </table>
    </div>

    {% if page.has_previous or page.has_next %}
    <div>
        {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
        |
        {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
    {% endif %}
{% endif %}
{% endblock %}
