{% extends "zoo/search.html" %}

{% block pagetitle %}
{{query}} - CodeCatalog Search
{% endblock %}

{% block header %}
{{ block.super }}

<script type="text/javascript" src="/static/code_editor.js"></script>

<style>
 .searchresults table {
    width: 100%;
    border: 1px solid black;
 }
 .searchresults thead {
    font-weight: bold;
 }
 #newsnippet {
    margin-top: 1cm;
 }
</style>

<script>
$(function() {
    {% if user.is_authenticated %}
    $('#newsnippet').append(code_editor_with_title({ title: "{{query}}" }, function(obj) {
        var regsnip = function (snip) {
            $.post('/api/new/snippet/', snip, function (reply) {
                window.location.href = '/' + reply.versionptr + '/';
            });
        };
        if (obj.spec_versionptr) {
            regsnip(obj);
        }
        else {
            $.post('/api/new/spec/', { name: obj.title, summary: obj.summary }, function (spec) {
                obj.spec_versionptr = spec.versionptr;
                regsnip(obj);
            });
        }
    }));
    {% else %}
    $('#loginlink').click(function() {
        var path = window.location.pathname + window.location.search;
        console.log(window.location);
        window.location.href = '/openid/login/?next=' + escape(path);
        return false;
    });
    {% endif %}
});
</script>

{% endblock %}

{% block content %}
{{ block.super }}
{% if query %}
    <div class="searchresults">
     <table>
      <tbody>
     {% for result in page.object_list %}
       <tr>
        <td><tt><a href="/{{ result.versionptrid }}/">{{ result.name }}</a></tt></td>
        <td>{{ result.summary }}</td>
       </tr>
     {% empty %}
       <tr>
        <td colspan="2"><b>No results</b></td>
       </tr>
     {% endfor %}
      </tbody>
     </table>
    </div>

    {% if page.has_previous or page.has_next %}
    <div>
        {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
        |
        {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
    </div>
    {% endif %}

    <div name="newsnippet" id="newsnippet">
     <h2>New Snippet</h2>
     {% if not user.is_authenticated %}
     <a href="#" name="loginlink" id="loginlink">Log in</a> to add a new snippet.
     {% endif %}
    </div>

{% endif %}
{% endblock %}
