{% extends "zoo/search.html" %}

{% block header %}
{{block.super}}
<style>
div.activity {
    padding-top: 3cm;
}
.activity table {
    border: 1px solid black;
    width: 100%;
}
.activity thead {
    font-weight: bold; 
}
</style>
{% endblock %}

{% block content %}

{{block.super}}

<div class="activity">
<h1>Recent Activity</h1>
<table class="activity">
 <thead>
  <tr>
   <td>Name</td>
   <td>Summary</td>
   <td>User</td>
  </tr>
 </thead>
 <tbody>
{% for spec in specs %}
  <tr>
   <td><tt><a href="/spec/{{spec.version.versionptr.id}}/">{{spec.name}}</a></tt></td>
   <td>{{spec.summary}}</td>
   <td>{{spec.version.user|default_if_none:"Anonymous"}}</td>
  </tr>
{% endfor %}
 </tbody>
</table>
</div>

{% endblock content %}
