{% extends "zoo/frame.html" %}

{% block header %}
{% include "static/jquery.html" %}
<script>
$(function() {
    $('#submit').click(function() {
        $.post('/api/new/spec/', {}, function (spec) {
            $.post('/api/new/snippet/', {
                'language': $('#language').val(),
                'code': $('#code').val(),
                'spec_versionptr': spec.versionptr,
            }, function (snippet) {
                window.location.href = "/spec/" + spec.versionptr + "/";
            });
        });
    });
})
</script>
{% endblock %}

{% block content %}
  <h1>New Snippet</h1>
  <textarea name="code" id="code" rows="30" cols="72"></textarea>
  <select name="language" id="language">
   <option value="python" selected>Python</option>
   <option value="javascript">Javascript</option>
  </select>
  <button name="submit" id="submit">Submit</button>
{% endblock %}
