{% extends "zoo/frame.html" %}

{% block header %}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/code_editor.js"></script>
<script>
$(function() {
    $('#editor').append(code_editor(null, function(obj) { 
        var regsnip = function (snip) {
            $.post('/api/new/snippet/', snip, function (reply) {
                window.location.href = '/' + reply.versionptr + '/';
            });
        };
        if (obj.spec_versionptr) {
            regsnip(obj);
        }
        else {
            $.post('/api/new/spec/', {}, function (spec) {
                obj.spec_versionptr = spec.versionptr;
                regsnip(obj);
            });
        }
    }));
})
</script>
{% endblock %}

{% block content %}
 <div class="newsnippet">
  <h1>New Snippet</h1>
  <div name="editor" id="editor"></div>
 </div>
{% endblock %}
