{% extends "zoo/frame.html" %}

{% block pagetitle %}
CodeCatalog Search
{% endblock %}

{% block header %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<script src='/static/code_editor.js'></script>

{{ block.super }}

<style>
 .searchbox { padding-top: 1cm }
 .searchbox .center-aligned { text-align: center }
 .searchbox input { height: 30px; font-size: large }
 .searchbox #q { width: 600px }
 
 .results_area { 
    display: block; 
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
 }

.results_area table {
    margin: auto;
    border-style: hidden;
    border-collapse: collapse;
    border-spacing: 0px;
    border-width: 0px;
 }

.results_area td {
    border-color: #e3ddf3;
    border-width: 1px;
    border-style: inset;
    padding: 10px 16px;
 }
 
</style>

<script>

//CodeCatalog Snippet http://codecatalog.net/279/782/
var foreach = function(array, body) {
    for (var i = 0; i < array.length; ++i) {
        body(array[i]);
    }
};
// End CodeCatalog Snippet

// CodeCatalog Snippet http://www.codecatalog.net/309/1/
var on_enter = function(element, callback) {
    return element.keypress(function(e){
        if(e.which == 13) {
            callback();
        }
    });
};
// End CodeCatalog Snippet

// CodeCatalog Snippet http://www.codecatalog.net/175/1/
var rate_limited_callback = function(rate, cb) {
    var timeout = null;

    return function() {
        if (timeout) { clearTimeout(timeout); timeout = null; }
        timeout = setTimeout(cb, rate);
    };
};
// End CodeCatalog Snippet

// CodeCatalog Snippet http://www.codecatalog.net/16/3/
var elt = function(name, attrs) {
    var r = $(document.createElement(name));
    if (attrs) {
        for (var i in attrs) {
            r.attr(i, attrs[i]);
        }
    }
    for (var i = 2; i < arguments.length; ++i) {
        r.append(arguments[i]);
    }
    return r;
};
// End CodeCatalog Snippet

// CodeCatalog Snippet http://www.codecatalog.net/254/7/
var table_row = function() {
    var tr = elt('tr');
    foreach(arguments, function(arg) {
        tr.append(elt('td', {}, arg));
    });
    return tr;
};
// End CodeCatalog Snippet

// CodeCatalog Snippet http://www.codecatalog.net/256/1/
var text_node = function(text) { return document.createTextNode(text) };
// End CodeCatalog Snippet

var spec_to_address = function(spec) {
    return '/' + spec.versionptr + '/'
};

$(function() {
    
    var top_result = null;
    
    var search_box = $('#q');
    
    var do_search = function() {
        // do a search for the text
        var query = search_box.val();
        if (query.length < 3) {
            return
        }
            
        $.get('/api/search/', { q: query }, function(results) {
            // in the callback, populate the search_results div with the results
            var results_table = elt('table');
            top_result = null;
            foreach(results, function(result) {
                if (top_result == null) {
                    top_result = result;
                }
                var result_row = elt('tr', {'name': result.versionptr, 'id': result.versionptr}, 
                        elt('td', {}, elt('a', {'href': spec_to_address(result)}).text(result.name)), 
                        elt('td').text(result.summary));
                results_table.append(result_row);
            });
            var results_div = elt('div', {'name': 'search_results', 'id': 'search_results'});
            $('#search_results').replaceWith(results_div);
            results_div.addClass('results_area');
            
            results_div.append(results_table);
        });
    }
    
    search_box.keypress(rate_limited_callback(500, do_search));
    
    // Call do_search immediately in-case there was a reload of the page with text in the input box.
    do_search();
    
    var go_func = function() {
        if (top_result != null) {
            window.location.href = spec_to_address(top_result);
        }
    };
    
    on_enter(search_box, go_func);
    $('#search').click(go_func);
});

</script>
{% endblock %}

{% block content %}

<div class="searchbox">
 <div class='center-aligned'>
  <input type='text' name='q' id='q' />
  <button name='search' id='search'>Go</button>
 </div>
</div>

<div><center><a href="/new" >Add Code</a></center></div>

<div name='search_results' id='search_results'></div>

{% endblock content %}
