{% extends "zoo/frame.html" %}

{% block header %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

{{ block.super }}

<style>
 .searchbox { padding-top: 1cm; width: 480px; margin: auto }
 .searchbox table { width: 100% }
 .searchbox input { height: 30px; font-size: large }
 .searchbox #q { width: 100% }
</style>

<script>
$(function() {
  $('#q').focus();
});
</script>
{% endblock %}

{% block content %}

<div class="searchbox">
<form action="/search/" method="get">
 <table>
  <tr>
   <td><input type="text" name="q" id="q" /></td>
   <td><input type="submit" value="Search" /></td>
  </table>
</form>
</div>

{% endblock content %}
