{% extends "zoo/frame.html" %}

{% block pagetitle %}
CodeCatalog Search
{% endblock %}

{% block header %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<script src='/static/code_editor.js'></script>

{{ block.super }}

<style>
 .searchbox { 
    margin-top: 20px;
    margin-bottom: 20px;
 }
 .searchbox .center-aligned { text-align: center }
 .searchbox input { height: 30px; font-size: large }
 .searchbox #q { width: 800px }
 
 .navigation_div {
    text-align: center;
    margin-top: 1cm;
    margin-bottom:20px;
 }
 
 .navigation_div a {
    color: blue;
    font-size: 14pt;
    font-family: sans-serif;
 }
 
 #q {
    font-size: 16pt;
 }
 
 .results_area { 
    display: block; 
    margin: auto;
 }

.results_area table {
    margin: auto;
    border-style: hidden;
    border-collapse: collapse;
    border-spacing: 0px;
    border-width: 0px;
    /*border-color: #e3ddf3;*/
    width: 800px;
 }
 
.results_area td {
    /* border-color: #e3ddf3; */
    border-width: 1px;
    border-style: inset;
    border: none;
    border-bottom: 1px solid #e3ddf3;
    padding: 10px 16px;
 }
 
 .results_area td.firstchild {
    width: 200px;
    border-right: 4px solid #e3ddf3;
 }
 
 .result_name {
    font-size: 14pt;
 }
 
 .result_summary {
    font-size: 12pt;
 }
 
 .results_area tr.focused td {
    border-color: #b0aac0;
    border-bottom: none;
 }
 
 .results_area tr.focused {
    background: #e3ddf3;
 }
 
 .results_area tr.firstchild .result_name {
    font-size: 16pt;
    font-weight: bold;
 }
 
 .results_area tr.firstchild .result_summary {
    font-size: 14pt;
 }
 
</style>

<script>

//CodeCatalog Snippet http://codecatalog.net/279/782/
var foreach = function(array, body) {
    for (var i = 0; i < array.length; ++i) {
        body(array[i]);
    }
};
// End CodeCatalog Snippet

// CodeCatalog Snippet http://www.codecatalog.net/309/1/
var on_enter = function(element, callback) {
    return element.keypress(function(e){
        if(e.which == 13) {
            callback();
        }
    });
};
// End CodeCatalog Snippet

// CodeCatalog Snippet http://www.codecatalog.net/175/1/
var rate_limited_callback = function(rate, cb) {
    var timeout = null;

    return function() {
        if (timeout) { clearTimeout(timeout); timeout = null; }
        timeout = setTimeout(cb, rate);
    };
};
// End CodeCatalog Snippet

// CodeCatalog Snippet http://www.codecatalog.net/16/3/
var elt = function(name, attrs) {
    var r = $(document.createElement(name));
    if (attrs) {
        for (var i in attrs) {
            r.attr(i, attrs[i]);
        }
    }
    for (var i = 2; i < arguments.length; ++i) {
        r.append(arguments[i]);
    }
    return r;
};
// End CodeCatalog Snippet

// CodeCatalog Snippet http://www.codecatalog.net/254/7/
var table_row = function() {
    var tr = elt('tr');
    foreach(arguments, function(arg) {
        tr.append(elt('td', {}, arg));
    });
    return tr;
};
// End CodeCatalog Snippet

// CodeCatalog Snippet http://www.codecatalog.net/256/1/
var text_node = function(text) { return document.createTextNode(text) };
// End CodeCatalog Snippet

var spec_to_address = function(spec) {
    return '/' + spec.versionptr + '/'
};

$(function() {
    
    var top_result = null;
    
    var search_box = $('#q');
    var search_results = $('#search_results');
    
    var do_search = function() {
        // do a search for the text
        var query = search_box.val();
        if (query.length < 3) {
            search_results.empty();
            return;
        } 
        
        $.get('/api/search/', { q: query }, function(results) {
            // in the callback, populate the search_results div with the results
            var results_table = elt('table');
            top_result = null;
            if (results.length > 0) {
                search_box.trigger('search',[query]);
                foreach(results, function(result) {
                    var result_row = table_row(
                            elt('a', {'href': spec_to_address(result), 'class': 'result_name'}).text(result.name), 
                            elt('span', {'class': 'result_summary'}).text(result.summary));
                    if (top_result == null) {
                        top_result = result;
                        result_row.addClass('focused');
                    }
                    result_row.data('spec', result);
                    results_table.append(result_row);
                });
            }
            
            results_table.find(':first-child').addClass('firstchild');
            
            var focus_tr = function(tr) {
                tr = $(tr);
                results_table.find('tr').removeClass('focused');
                tr.addClass('focused');
                top_result = tr.data('spec');
            };
            
            results_table.find('tr').each(function(_, tr) {
                $(tr).mouseover(function() {
                    focus_tr(tr);
                });
            });
            results_table.mouseout(function() {
                focus_tr(results_table.find('tr:first-child'));
            });
            search_results.empty();
            search_results.append(results_table);
        });
    };
    
    search_box.keypress(rate_limited_callback(300, do_search));
    
    // Call do_search immediately in-case there was a reload of the page with text in the input box.
    do_search();
    
    var go_func = function() {
        if (top_result != null) {
            window.location.href = spec_to_address(top_result);
        }
    };
    
    on_enter(search_box, go_func);
    $('#search').click(go_func);
    
    search_box.focus();
});

</script>
{% endblock %}

{% block content %}

<div class='navigation_div'><a href='/new'>Add Code</a></div>

<div class='searchbox'>
 <div class='center-aligned'>
  <input type='text' name='q' id='q' />
 </div>
</div>

<center>
 <div name='search_results' id='search_results' class='results_area'></div>
</center>

{% endblock content %}
