{% extends "zoo/spec.html" %}

{% block scripting %}
  <script type="text/javascript">
   $(function() {
       var e = editable({ csrf_token: '{{csrf_token}}', editurl: '/{{snippet.id}}/edit/' });
       e.installEditButtons();
   });
  </script>

  <script type="text/javascript" src="/static/select_on_click.js"></script>

  <script type="text/javascript">
    $(function() {
        select_on_click($('#code'));
    });
  </script>
{% endblock %}

{% block title %}<a href="/spec/{{spec.id}}/">{{block.super}}</a>{% endblock %}

{% block impls %}
<textarea id="code" name="code" cols="72" rows="15" class="editable editarea">{{snippet.code}}</textarea>
{% endblock %}
