{% extends "zoo/frame.html" %}

{% block header %}
  {% include "static/jquery.html" %}

  <script type="text/javascript" src="/static/editable.js"></script>
  <script type="text/javascript" src="/static/select_on_click.js"></script>

  <style>
   #name { font-family: monospace }
   .hidden { display: none }
   .snippet { background: #eec }
   .canon { background: #aea }
  </style>

{% block scripting %}

  <script type="text/javascript">

    var reload = function() { document.location.reload(); }

    var post = function(url, dict, callback) {
        dict['csrfmiddlewaretoken'] = '{{csrf_token}}';
        $.post(url, dict, callback);
    };

    var edit_snip = function (snip_id) {
        var textarea = $('<textarea cols="72"></textarea>');
        var codearea = $('#code_' + snip_id);
        textarea.attr('rows', codearea.attr('rows')+2);
        textarea.val(codearea.val());
        var editblock = $('#edit_' + snip_id);
        editblock.removeClass('hidden');
        var button = $('<button>Submit</button>');
        editblock.append(textarea);
        editblock.append(button);

        button.click(function() {
            button.attr('disabled', true);
            var dict = { code: textarea.val() };
            post('/' + snip_id + '/branch/', dict, reload);
        });

        textarea.focus();
    };

    var annotator = function (id) { 
        return function (text) {
            return "# CodeCatalog Snippet http://codecatalog.net/" + id + "/\n" + text + "\n# End CodeCatalog Snippet\n";
        };
    };

    var delete_snip = function (snip_id) {
        post('/' + snip_id + '/delete/', {}, reload);
    };

    var bless_snip = function (snip_id) {
        post('/' + snip_id + '/setcanon/', {}, reload);
    };

    var votedown_snip = function (snip_id) {
        post('/' + snip_id + '/vote/-1/', {}, reload);
    };

    var voteup_snip = function (snip_id) {
        post('/' + snip_id + '/vote/1/', {}, reload);
    };

    $(function() {
        var e = editable({ csrf_token: '{{csrf_token}}', editurl: '/spec/{{spec.id}}/edit/' });
        e.installEditButtons();
        $('textarea').each(function (i,e) { select_on_click($(e), annotator($(e).attr('snipid'))) });
    });
  </script>
{% endblock scripting %}
{% endblock header %}

{% block content %}

{% block spec %}
<h1><span id="name" name="name" class="editable">{% block title %}{{spec.name}}{% endblock %} </span></h1>
<h2>Summary</h2>
<span id="summary" name="summary" class="editable">{{spec.summary}}</span>
<h2>Spec</h2>
<span id="spec" name="spec" class="editable editarea">{{spec.spec}}</span>
{% endblock spec %}

{% block impls %}
<h2>Impls</h2>
{% for snip in snippets %}
<table border="0">
 <tr>
  <td>
   <textarea 
   {% if snip.canon %}
        class="canon" 
   {% else %}
        class="snippet"
   {% endif %} 
       snipid="{{snip.id}}" name="code_{{snip.id}}" id="code_{{snip.id}}" rows="{{snip.lines}}" cols="72" readonly="readonly">{{snip.code}}</textarea>
   <div class="hidden" id="edit_{{snip.id}}" name="edit_{{snip.id}}"></div>
  </td>
  <td>
   <table border="0">
    <tr><td><a href="/{{snip.id}}/">Details</a></td></tr>
    <tr><td><button onclick="edit_snip({{snip.id}})">Branch</button></td></tr>
    {% if user.is_authenticated %}
    {% if snip.canon %}
    <tr><td><button disabled="disabled">Delete</button></td></tr>
    <tr><td><button disabled="disabled">Bless</button></td></tr>
    {% else %}
    <tr><td><button onclick="delete_snip({{snip.id}})">Delete</button></td></tr>
    <tr><td><button onclick="bless_snip({{snip.id}})">Bless</button></td></tr>
    {% endif %}
    <tr><td><button onclick="votedown_snip({{snip.id}})">-</button> {{snip.votes}} <button onclick="voteup_snip({{snip.id}})">+</button></td></tr>
    {% endif %}
   </table>
  </td>
 </tr>
</table>
{% endfor %}
<br/>
<a href="/spec/{{spec.id}}/new/">New</a>
{% endblock impls %}
{% endblock content %}
