<html>
 <head>
  {% include "jquery.html" %}
  {% include "editable.html" %}
  {% include "select_on_click.html" %}

  <style>
   #name { font-family: monospace }
   .hidden { display: none }
   .snippet { background: #eec }
  </style>

{% block scripting %}

  <script type="text/javascript">

    var reload = function() { document.location.reload(); }

    var post = function(url, dict, callback) {
        dict['csrfmiddlewaretoken'] = '{{csrf_token}}';
        $.post(url, dict, callback);
    };

    var edit_snip = function (snip_id) {
        var textarea = $('<textarea cols="72"></textarea>');
        var codearea = $('#code_' + snip_id);
        textarea.attr('rows', codearea.attr('rows')+2);
        textarea.val(codearea.val() + '\n\n');
        var editblock = $('#edit_' + snip_id);
        editblock.removeClass('hidden');
        var button = $('<button>Submit</button>');
        editblock.append(textarea);
        editblock.append(button);

        button.click(function() {
            button.attr('disabled', true);
            var dict = { code: textarea.val() };
            post('/' + snip_id + '/branch/', dict, reload);
        });

        textarea.focus();
    };

    var delete_snip = function (snip_id) {
        var dict = { csrfmiddlewaretoken: '{{csrf_token}}' }
        post('/' + snip_id + '/delete/', dict, reload);
    };

    $(function() {
        var e = editable({ csrf_token: '{{csrf_token}}', editurl: '/spec/{{spec.id}}/edit/' });
        e.installEditButtons();
        $('textarea').each(function (i,e) { select_on_click($(e)) });
    });
  </script>
{% endblock %}
 </head>
<body>

{% block spec %}
<h1><span id="name" name="name" class="editable">{% block title %}{{spec.name}}{% endblock %}</span></h1>
<h2>Summary</h2>
<span id="summary" name="summary" class="editable">{{spec.summary}}</span>
<h2>Spec</h2>
<span id="spec" name="spec" class="editable editarea">{{spec.spec}}</span>
{% endblock %}

{% block impls %}
<h2>Impls</h2>
{% for snip in snippets %}
<table border="0">
 <tr>
  <td>
   <textarea class="snippet" name="code_{{snip.id}}" id="code_{{snip.id}}" rows="{{snip.lines}}" cols="72" readonly="readonly">{{snip.code}}</textarea>
   <div class="hidden" id="edit_{{snip.id}}" name="edit_{{snip.id}}"></div>
  </td>
  <td>
   <table border="0">
    <tr><td><a href="/{{snip.id}}/">Details</a></td></tr>
    <tr><td><button onclick="edit_snip({{snip.id}})">Branch</button></td></tr>
    <tr><td><button onclick="delete_snip({{snip.id}})">Delete</button></td></tr>
   </table>
  </td>
 </tr>
</table>
{% endfor %}
<br/>
<a href="/spec/{{spec.id}}/new/">New</a>
{% endblock %}
</body>
</html>
