{% extends "zoo/frame.html" %}
{% load json_dump %}

{% block header %}
  
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

  <script type="text/javascript" src="/static/editable.js"></script>
  <script type="text/javascript" src="/static/select_on_click.js"></script>
  <script type="text/javascript" src="/static/showdown.js"></script>
  <script type="text/javascript" src="/static/editable_markdown.js"></script>
  <script type="text/javascript" src="/static/code_editor.js"></script>

  <style>
   #name { font-family: monospace }
   .hidden { display: none }
   .snippet { background: #eec }
   .languagemark { background: #db9; font-weight: bold }
   .depmark { background: #db9; float: left }
   #spec_comments { margin-left: 1in }
   #spec_comments p { color: #666 }
   #spec_comments textarea { width: 100% }
  </style>

{% block scripting %}

  <script type="text/javascript">

    // CodeCatalog Snippet http://codecatalog.net/45/
    var reload = function() { document.location.reload(); };
    // End CodeCatalog Snippet

    var post = function(url, dict, callback) {
        dict['csrfmiddlewaretoken'] = '{{csrf_token}}';
        $.post(url, dict, callback);
    };

    // CodeCatalog Snippet http://codecatalog.net/79/
    var linecomment = {
        python: '#',
        javascript: '//',
    };
    // End CodeCatalog Snippet

    var annotator = function (snip) { 
        return function (text) {
            return linecomment[snip.language] + " CodeCatalog Snippet http://codecatalog.net/" + snip.version + "/\n" 
                 + text
                 + linecomment[snip.language] + " End CodeCatalog Snippet\n";
        };
    };

    var votedown_snip = function (versionptr) {
        post('/api/vote/', { versionptr: versionptr, value: -1 }, reload);
    };

    var voteup_snip = function (versionptr) {
        post('/api/vote/', { versionptr: versionptr, value: 1 }, reload);
    };

    // CodeCatalog Snippet http://codecatalog.net/85/
    var max = function() {
        var r = arguments[0];
        for (var i = 1; i < arguments.length; ++i) {
            if (arguments[i] > r) r = arguments[i];
        }
        return r;
    };
    // End CodeCatalog Snippet

    // CodeCatalog Snippet http://codecatalog.net/96/
    var min = function() {
        var r = arguments[0];
        for (var i = 1; i < arguments.length; ++i) {
            if (arguments[i] < r) r = arguments[i];
        }
        return r;
    };
    // End CodeCatalog Snippet

    var savespec = function() {
        post('/api/new/spec/', { 
            'versionptr': {{spec.versionptr}}, 
            'name': $('#name').text(),
            'summary': $('#summary').text(),
            'spec': $('#spec').val()
        });
    };

    // CodeCatalog Snippet http://codecatalog.net/37/
    var elt = function(name, attrs) {
        var r = $('<' + name + ' />');
        if (attrs) {
            for (var i in attrs) {
                r.attr(i, attrs[i]);
            }
        }
        for (var i = 2; i < arguments.length; ++i) {
            r.append(arguments[i]);
        }
        return r;
    };
    // End CodeCatalog Snippet

    // CodeCatalog Snippet http://codecatalog.net/99/
    var button = function(text, click) {
        var r = elt('button');
        r.text(text);
        r.click(click);
        return r;
    };
    // End CodeCatalog Snippet

    // CodeCatalog Snippet http://codecatalog.net/104/
    var horizontal = function() {
        var r = elt('table');
        var row = elt('tr');
        r.append(row);
        for (var i in arguments) {
            var cell = elt('td', {}, arguments[i]);
            row.append(cell);
        }
        return r;
    };
    // End CodeCatalog Snippet

    // CodeCatalog Snippet http://codecatalog.net/109/
    var vertical = function() {
        var r = elt('table');
        for (var i in arguments) {
            var row = elt('tr', {}, elt('td', {}, arguments[i]));
            r.append(row);
        }
        return r;
    };
    // End CodeCatalog Snippet

    var dependencies_area = function(snip) {
        if (snip.dependencies.length == 0) {
            return $('');
        }
        
        var b = button('Depends...', function() {
            var table = elt('table');
            snip.dependencies.forEach(function (dep) {
                $.get('/api/specs/' + dep + '/active/', function (result) {
                    table.append(
                        elt('tr', {}, 
                            elt('td', {},
                                elt('a', { href: '/spec/' + result.versionptr + '/' })
                                    .text(result.name)),
                            elt('td', {}).text(result.summary)));
                });
            });
            b.replaceWith(table);
        });
        return b;
    };

    var displaysnip = function(snip) {
        var div = elt('div');

        var textarea = elt('textarea', { rows: 30, cols: 72, readonly: 'readonly' });
        textarea.val(snip.code);
        textarea.attr('rows', linecount(snip.code));

        select_on_click(textarea, annotator(snip));

        var votesbox = elt('span');
        votesbox.text(snip.votes);

        var edit = function() {
            div.replaceWith(code_editor(snip, function(newsnip) {
                $.post('/api/new/snippet/', newsnip, reload);
            }));
        };

        var infoarea = 
            vertical(
                $('<span class="languagemark"></span>').text(snip.language),
                horizontal(
                    button('-', function() { votedown_snip(snip.versionptr) }),
                    votesbox,
                    button('+', function() { voteup_snip(snip.versionptr) })),
                button("edit", edit),
                dependencies_area(snip));

        var table = horizontal(textarea, infoarea);

        div.append(table);
        return div;
    };

    var render_comment = function(comment) {
        return elt('div', {},
            elt('p').text(comment.text).append(
                elt('b', {}, elt('span').text(" -- " + comment.user))));
    };

    var comments_box = function(versionptr) {
        var div = elt('div');
        var newcomment = elt('a', { href: '#' }).text("Comment");
        newcomment.click(function() {
            var newdiv = elt('div');
            var textarea = elt('textarea');
            var btn = button('OK', function() {
                var comment = { versionptr: versionptr, text: textarea.val(), user: '{{user.username}}' };
                post('/api/new/comment/', comment);
                
                newcomment.before(render_comment(comment));
                newdiv.remove();
            });
            newdiv.append(textarea, btn);
            newcomment.before(newdiv);
        });
        div.append(newcomment);
        
        $.get('/api/specs/' + versionptr + '/comments/', function(comments) {
            for (var i in comments) {
                console.log(comments[i])
                div.prepend(render_comment(comments[i]));
            }
        });
        return div;
    };

    $(function() {
        var e = editable({ onedit: function() { savespec(); } });
        e.installEditButtons();
        
        makeMarkdownArea($('#spec'), 'spec', function(text) { 
            savespec();
        });

        $('#spec_comments').append(comments_box('{{spec.versionptr}}'));

        $('.snippet').each(function (i,e) {
            e = $(e);
            var data = JSON.parse(e.find('.data').val());
            e.replaceWith(displaysnip(data));
        });
    });
  </script>
{% endblock scripting %}
{% endblock header %}

{% block content %}

{% block spec %}
<h1><span id="name" name="name" class="editable"><a href="/spec/{{spec.versionptr}}">{% block title %}{{spec.name}}{% endblock %}</a></span></h1>
<h2>Summary</h2>
<span id="summary" name="summary" class="editable">{{spec.summary}}</span>
<h2>Spec</h2>
<textarea id="spec" name="spec" rows="15" cols="72">{{spec.spec}}</textarea>
<div id="spec_comments"></div>
{% endblock spec %}

{% block impls %}
{% for snip in snippets %}
<div class="snippet">
 <textarea class="code" readonly="readonly">{{snip.code}}</textarea>
 <textarea class="data hidden" readonly="readonly">{{snip|json}}</textarea>
</div>

{% endfor %}
{% endblock impls %}
{% endblock content %}
